.pokemon-container {
    width: 280px;
    height: 200px;
    justify-content: center;
    border: 7px solid rgb(16 16 16);
    margin: auto;
    background-position: bottom center;
    background-repeat: no-repeat;
    align-items: flex-end;
    display: flex;
    background-size: cover;
    box-sizing: border-box;
    border-radius: 10px;
    z-index: 2;
    margin-right: 0px;
    img {
        object-fit: contain;
        margin-bottom: 10px;
    }
    @media (min-width:768px) and (max-width:980px) {
        width: 230px;
        height: 180px;
    }
    @media (max-width:767px) {
        margin: 15px auto 0;
        width: 73%;
    }
    @media (max-width:500px) {
        width: 86%;
        height: 170px;
    }
}

.margin-top {
    padding-top: 30px;
}

.text-box {
    background-color: #050520;
    width: 40%;
    text-align: left;
    font-family: "pokefont";
    padding: 15px;
    box-sizing: border-box;
    text-transform: capitalize;
    padding-right: 0;
    padding-bottom: 0;
    p {
        margin: 5px auto;
        font-size: 12px;
        white-space: nowrap;
        @media (max-width: 767px) {
            font-size: 10px;
        }
    }
    svg.chakra-icon.css-onkibi {
        margin-left: 2px;
        margin-bottom: 2px;
    }
    @media (max-width:767px) {
        padding: 10px;
    }
    @media (max-width:380px) {
        transform: scale(0.85) translate(-6px, -10px);
    }
}

.pokedex-body {
    display: flex;
    background: rgb(226, 7, 52);
    background: linear-gradient(45deg, rgba(226, 7, 52, 1) 32%, rgba(255, 0, 0, 1) 60%, rgba(238, 36, 0, 1) 86%);
    margin: 15px auto;
    width: 900px;
    border-radius: 500px 50px 50px 500px;
    border: 2px solid rgb(21, 25, 42);
    position: relative;
    box-shadow: 0px 0px 10px 2px #0202028c;
    h2 {
        margin: 5px;
        white-space: pre;
        margin-left: 0;
        font-weight: bold;
        margin-top: 0;
        @media (max-width: 767px) {
            font-size: 14px;
        }
    }
    &::after {
        content: "";
        clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 0, 75% 0, 75% 100%, 25% 100%, 25% 100%, 100% 100%, 100% 0%);
        background-color: #fff;
        width: 3.5%;
        height: 100%;
        position: absolute;
        right: 5%;
        top: 0;
        z-index: 0;
        @media (max-width: 767px) {
            width: 5.5%;
            right: 20%;
        }
        @media (max-width: 500px) {
            width: 10.5%;
            right: 15%;
        }
    }
    @media (min-width:768px) and (max-width:980px) {
        width: 95%;
    }
    @media (max-width:767px) {
        width: 450px;
        border-radius: 50px;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    @media (max-width: 500px) {
        width: 90%;
    }
}

.evolve-item {
    background: url('../images/pokeball-white.png');
    // border-radius: 50%;
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 767px) {
        width: 55px;
        height: 55px;
    }
    img {
        object-fit: fill;
        width: 100%;
        transition: ease-in-out 0.2s;
        &:hover {
            transform: scale(1.55);
            transition: ease-in-out 0.2s;
        }
    }
}

.data-box {
    display: flex;
    background-color: #050520;
}

.pokeballimg {
    position: absolute;
    z-index: 1;
    left: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 767px) {
        left: 10px;
    }
    @media (max-width: 500px) {
        display: none;
    }
    img {
        filter: brightness(11.5);
        object-fit: contain;
        height: 90%;
        @media (max-width: 767px) {
            height: 45px;
        }
    }
}

.right-box {
    width: 50%;
    color: #fff;
    padding: 20px;
    letter-spacing: 0px;
    word-spacing: 3px;
    z-index: 1;
    @media (min-width: 768px) and (max-width: 980px) {
        width: 56%;
    }
    @media (max-width: 767px) {
        width: 80%;
    }
    @media (max-width: 500px) {
        width: 100%;
        padding-top: 10px;
    }
}

.cadena {
    display: flex;
    justify-content: center;
    @media (max-width: 767px) {
        flex-wrap: wrap;
    }
}

.description {
    font-family: $Pokefont;
    .scroll-box {
        color: black;
        text-align: left;
        background: white;
        box-sizing: border-box;
        padding: 10px;
        border-radius: 10px;
        font-size: 10px;
        @media (max-width: 767px) {
            font-size: 9px;
            padding: 7px;
            border-radius: 7px;
        }
    }
    h2 {
        margin-top: 0;
        text-align: left;
        font-size: 12px;
        @media (max-width: 767px) {
            font-size: 9px;
        }
    }
}

.evolve-box {
    background-color: #050520;
    padding: 15px;
    box-sizing: border-box;
    padding-top: 0;
    @media (max-width: 767px) {
        padding-top: 0;
    }
    @media (max-width: 500px) {
        padding: 10px;
        padding-top: 0;
    }
}

.grafica-Radar {
    overflow: hidden;
    display: flex;
    width: 60%;
    justify-content: center;
    padding-top: 15px;
    transform: translateX(25px);
    @media (max-width: 767px) {
        padding-top: 3px;
        align-items: center;
        transform: unset;
    }
    @media (max-width: 380px) {
        transform: scale(0.8) translateX(15px);
    }
}

.type-box {
    display: flex;
    align-items: center;
    h4 {
        margin: 0;
        margin-right: 5px;
        font-weight: normal;
        font-size: 12px;
        @media (max-width: 767px) {
            font-size: 10px;
        }
    }
}

//Types box
.type-box-style {
    padding: 5px 8px;
    border-radius: 7px;
    font-weight: bold;
    box-sizing: border-box;
    margin-right: 10px;
    font-size: 8px;
    text-shadow: black 2px 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    @media (max-width: 767px) {
        padding: 3px 6px;
        border-radius: 6px;
        font-weight: bold;
        box-sizing: border-box;
        margin-right: 5px;
        font-size: 7px;
        text-shadow: black 1.5px 1.5px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }
}

.fire {
    background: rgb(255, 23, 0);
}

.electric {
    background: rgb(255, 232, 0);
}

.normal {
    background: rgb(227, 227, 227);
}

.bug {
    background: rgb(120, 187, 4);
}

.dark {
    background: rgb(52, 29, 113);
}

.dragon {
    background: rgb(0, 141, 98);
}

.fairy {
    background: rgb(243, 73, 147);
}

.fighting {
    background: rgb(163, 8, 8);
}

.flying {
    background: rgb(70, 136, 207);
}

.ghost {
    background: rgb(99, 0, 181);
}

.grass {
    background: rgb(12, 160, 0);
}

.ground {
    background: rgb(180, 75, 19);
}

.ice {
    background: rgb(0, 255, 212);
}

.poison {
    background: rgb(76, 43, 146);
}

.psychic {
    background: rgb(215, 27, 212);
}

.rock {
    background: rgb(48, 19, 11);
}

.steel {
    background: rgb(74, 74, 74);
}

.water {
    background: rgb(4, 0, 255);
}